.delicias-container {
  padding: 60px 40px;
  text-align: left; /* Alinha o título para a ESQUERDA */
}

.delicias-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}

/* Adiciona o sublinhado dourado */
.delicias-container h2::after {
  content: "";
  display: block;
  width: 70%; /* Largura do sublinhado */
  height: 3px;
  background-color: #d4af37; /* Cor do sublinhado */
  position: absolute;
  bottom: -10px;
  left: 0; 
}


.galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.galeria-item img {
  width: 280px; /* Define uma largura fixa para as imagens */
  height: 400px; /* Define uma altura fixa para as imagens */
  object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
}