.hero-container {
  height: 450px;
  background-image: url("../assets/central.png");

  /* Estas propriedades garantem que a imagem cubra toda a área sem distorcer. */
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 500px;
  position: relative;
}

/* Estilo para o nosso título <h1> */
.hero-container h1 {
  color:  #800020;
  font-size: 4.5rem; 
}
