/* src/index.css */

/* 1. A importação da fonte DEVE ser a primeira coisa no arquivo */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* 2. O reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3. Os estilos globais para a página */
body {
  background-color: #fff2f9;
  font-family: "Quicksand", sans-serif;
}
