@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* Reset básico para remover margens padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*O Reset é o passo que garante que você, e não o navegador, está no controle total da aparência do seu site.*/

body {
  background-color: #fff2f9; /* O fundo rosa claro! */
  font-family: "Quicksand", sans-serif;
}
